.footer-container {
    /* margin-top: 30px; */
    margin-left: 135px;
    margin-right: 135px;
    height: 90px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1000px) {
    .footer-container {
        /* display: flex;
        flex-direction: column; */
        margin-left: 20px;
        margin-right: 20px;
    }
}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-logo {
    width: 100px;
    
}
.linkedin-logo {
    width: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 60px;
    margin-top: 30px;
}
.youtube-logo {
    width: 45px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    margin-top: 30px;
}
.youtube-logo:hover, .linkedin-logo:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}