.footer-container {
    position: relative;
    /* margin-top: 30px; */
    margin-left: 135px;
    margin-right: 135px;
    /* height: 90px; */
    /* background-color: white; */
    /* border-radius: 10px 10px 0px 0px; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1000px) {
    .footer-container {
        /* display: flex;
        flex-direction: column; */
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
}
.footer-background {
    width: 100%;
    height: 90px;
    object-fit: cover;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    /* top: 0;
    left: 0; */
    z-index: -1;
}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-logo {
    width: 100px;
    margin-top: 10px;
    
}
.linkedin-logo {
    width: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 60px;
    margin-top: 45px;
}
.youtube-logo {
    width: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    margin-top: 45px;
}
.youtube-logo:hover, .linkedin-logo:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}