.header-background {
    width: 100%;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.header-content {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-size: 26px;
}
@media (max-width: 700px) {
    .header-content {
        font-size: 20px;
        /* padding: 0 10px; */
    }
    
}
.left-section, .middle-section, .right-section {
    display: flex;
    align-items: top   ;
    /* padding: 0 30px; */
    color: #333333;
    /* font-style: bold; */
}
.logo-image {
    width: 180px;
    margin-top: 10px;
    margin-left: 150px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}
.right-section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 160px;
    margin-bottom: 70px;
    /* color: white; */
    /* background-color: red; */
}
.contact-tag {
    color: white;
}
.contact-tag:hover {
    color: #6f6f6f;
}

@media (max-width: 1000px) {
    .logo-image {
        margin-left: 35px;
    }
    .right-section {
        margin-right: 35px;
    }
}