.main-container {
    display: grid;
    grid-template-columns: 1fr 270px;
    column-gap: 30px;
    row-gap: 20px;
    padding: 15px;
    /* background-color: yellowgreen; */
    margin-left: 120px;
    margin-right: 120px;
    /* background-color: green; */
    
}
@media (max-width: 1000px) {
    .main-container {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
}
.section-DT-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
@media (max-width: 700px) {
    .section-DT-container {
        display: flex;
        flex-direction: column;

    }
}
.DT-description p {
    margin-bottom: 10px;
}
.DT-description {
    flex: 1;
    padding: 15px;
    border-radius: 10px;
}

.DT-preview {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    margin-top: 40px;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    /* min-width: 0px; */
    /* background-color: pink; */
}
@media (max-width: 700px) {
    .DT-description p{
        margin-bottom: 0px;
    }
    .DT-preview {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 15px;
    }

}

.preview-container {
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* background-color: green; */
}
.preview-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.preview-image {
    width: 300px;
    padding-bottom: 10px;
}

.preview-tag {
    /* margin-top: 10px; */
    font-weight: bold;
    text-align: center;
}

.testing-container {
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    /* background-color: green; */
}
.testing-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.testing-image {
    width: 300px;
    padding-bottom: 10px;
}
@media (max-width: 360px) {

    .preview-container, .testing-container {
        padding: 0px;
    }
    .preview-image, .testing-image{
        width: 260px;
    }

}
.testing-tag {
    /* margin-top: 10px; */
    font-weight: bold;
    text-align: center;
}
/* @media (max-width: 700px) {
    .preview-container {
        display: flex;
    }
    .testing-container {
        display: flex;
    }

} */

.section-thesis-container {
    background-color: white;
    border-radius: 10px;
}

.thesis-header {
    /* font-size: 20px; */
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid rgb(202, 201, 201);
}
.thesis-content {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px;
    margin-left: 15px;
    margin-top: 10px;
    /* background-color: green; */

}
@media (max-width: 700px) {
    .thesis-content {
        display: flex;
        flex-direction: column;

    }
}
.content-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    /* background-color: yellow; */

}

.thesis-image {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.thesis-image:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.open-tag {
    /* margin-top: 10px; */
    font-weight: bold;
    text-align: center;
}
.content-text {
    /* background-color: white; */
    padding: 10px 15px 20px 10px;
    
}
.section-browse-container {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    /* padding-bottom: 800px; */

}
.browse-header {
    background-color: rgb(98, 160, 218);
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 15px 20px;
    color: white;
    margin-bottom: 10px;   
}
.browse-content {
    font-size: 16px;
    padding: 10px;
    /* padding: 15px 15px 10px 25px; */
    /* color: white; */
    /* margin-left: 10px; */
}
.DT-model {
    width: 100%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    margin-bottom: 10px;
}
.DT-model-tag {
    font-weight: bold;
    text-align: center;
}
.DT-model:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}